//Imports
@import 'nib'
@import 'jeet'
//Mixins
normalize-css()

//Variables
$yellow = #faee4e
$red    = #d80000
$green  = #00d084

//Styles
body
    font-size   14px
    line-height 22px
    font-family 'Noto Sans', sans-serif;
    color       #ddd
    height      100%
    background  #f3f3f3

a
    text-decoration none

.nav-top-wrap
    background rgba(255,255,255,0.1)
    display    none
    height     80px
    width      100%
    box-sizing border-box
    padding    30px 5%
    position   fixed
    top        0
    z-index    10
    transition background 0.2s ease-in-out

    @media (min-width:800px)
        display block

    h1
        display none

    &.-not-hero
        background rgba(255,255,255,0.8)

.nav-links
    float          left
    margin         0 12px 0 0
    padding        0
    list-style     none
    font-size      16px
    font-family 'Source Sans Pro', sans-serif
    text-transform uppercase

    & > li
        float left

    & > li > a
      padding       10px 30px
      margin-right  20px
      border-radius 30px
      color         black
      background    transparent
      transition    background 0.2s ease-out, color 0.2s ease-out

    & > li > a.active
    & > li > a:hover
            background $green
            color      white

.nav-animation
    left       0
    position   absolute
    margin-top -120px
    transition margin-top 0.8s ease-in-out

    &.active
        margin-top -30px

.social-links
    float      right
    margin     -10px 0 0
    padding    0
    list-style none

    & > li
        float         left
        width         37px
        height        37px
        border-radius 50%
        line-height   35px
        background    #000
        text-align    center
        margin-right  5px
        
        &:hover
            background #00d084

    & > li > a
        width   100%
        height  100%
        display block

    & > li > a > img
        vertical-align middle

.mobile-nav
    padding    15px 0
    background rgba(255, 255, 255, 0.1)
    position   fixed
    top        0
    left       0
    right      0
    z-index    10

    &.-not-hero
        background rgba(255,255,255,0.7)

    @media (min-width:800px)
        display none
    &.-active
        background black

        .icon-menu
            display none
        .icon-close
            display block
        .mobile-links
            display block

.icon-menu
    display    block
    width      40px
    margin     0 auto
    cursor     pointer
    list-style none
    padding    0

    & > li
        width         100%
        background    #000
        height        6px
        border-radius 12px
        margin-bottom 4px

.icon-close
    background url(../img/icon-close.png) no-repeat
    width      26px
    height     27px
    margin     0 auto
    display    none
    cursor     pointer

.mobile-links
    list-style none
    display    none
    font-size  18px
    margin     0
    padding    0 24px

    & > li
        border-bottom solid 1px #ADADAD
        padding 10px
        &:last-child
            border-bottom none

    & li > a
        color   #ADADAD
        display block
        width   100%
        height  100%
        &:hover
            color white

.mobile-img
    width 100%
    height auto
    @media (min-width:800px)
        display none

.page-content
    clear both

.container
    width     100%
    margin    0 auto
    position  relative

.hero
    background $green
    color      white
    padding    80px 0 20px
    text-align center
    transition background 0.8s ease-in-out

    @media (min-width:800px)
        padding-bottom 80px

    & > .container
        max-width  1170px
        box-sizing border-box
        padding    0 24px

    h1
        font-size   70px
        font-weight 600
        line-height 1.2
        margin      0

        @media (min-width:800px)
            font-size 90px

    p
        font-weight   500
        font-size     16px
        line-height   1.5
        margin-bottom 30px

        @media (min-width:800px)
            font-size 20px

.hero-gradient
    position absolute
    left     0
    right    0
    top      0
    bottom   0
    width    100%
    height   100%

.hero-day
    background linear-gradient(to bottom, #33cccc 0%, #33cc99 50%, #009966 100%)

.hero-noon
    background linear-gradient(to bottom, #ff9c4d 0%, #19cbbc 50%, #009966 100%)

.hero-night
    background linear-gradient(to bottom, #2a1d36 0%, #11475a 50%, #009966 100%)

.hero-day
.hero-noon
.hero-night
    position   absolute
    left       0
    top        0
    opacity    0
    transition opacity 1s ease-in-out
    width      100%
    height     100%
    &.-active
        opacity 1


.hero-img
    width    100%
    position relative
    height   200px

    @media (min-width:400px)
        height 300px

    @media (min-width:600px)
        height 422px

    & > img
        position   absolute
        z-index    0
        opacity    0
        transform  translateX(-55%)
        transition opacity 0.8s ease-in-out
        width      100%

        &.-active
            z-index 1
            opacity 1

        @media (min-width:800px)
            width auto

.counter-box
    position         absolute
    border           solid 10px #fafafa
    box-shadow       0 1px 0 #000
    box-sizing       border-box
    background-color #cbcbcb
    width            155px
    height           155px
    top              -55px
    left             0
    text-align       center
    padding          30px 0
    z-index          11

    @media screen and (min-width:1600px)
        width   255px
        height   255px
        padding 50px 0

    & > p
        margin 0

.counter-box p
    font-size 14px
    padding   0 5px

    @media screen and (min-width:1600px)
        font-size 20px

.count
    font-size 60px

    @media screen and (min-width:1600px)
        font-size 120px

.count-number
    line-height 55px
    font-size   18px
    font-weight 700

    @media screen and (min-width:1600px)
        line-height 110px
        font-size   36px

.projects
    clearfix()
    list-style none
    margin     0
    padding    50px 10%
    clear      both

    @media screen and (min-width:1280px)
        padding 50px 5%

    & > li
        position   relative
        width      100%
        float      left
        box-sizing border-box
        box-shadow 2px 0 2px #b5b5b5
        border     6px solid #fff
        margin     0 0 20px 0

        @media screen and (min-width:480px)
            width        47%
            margin-right 20px

            &:nth-child(even)
                margin-right 0

        @media screen and (min-width:768px)
            width        31%

            &:nth-child(even)
                margin-right 20px

            &:nth-child(3n+3)
                margin-right 0

        @media screen and (min-width:1280px)
            width 18%

            &:nth-child(3n+3)
                margin-right 20px

            &:nth-child(5n+5)
                margin-right 0

        @media screen and (min-width:1600px)
            width 15%

            &:nth-child(5n+5)
                margin-right 20px

        @media screen and (min-width:2000px)
            width 15.5%


    & > li > img
        height     auto
        width      100%
        display    block
        text-align center


    & > li:hover > .info
    & > li:hover > .button
        opacity 1
        box-sizing border-box

.info
    position   absolute
    top        0
    bottom     0
    left       0
    right      0
    padding    10px
    background rgba(0,0,0,0.8)
    opacity    0
    z-index    2
    transition opacity 0.2s ease-in-out
    box-sizing border-box
    text-align center
    font-size 14px
    font-family 'Source Sans Pro', sans-serif
    & > h2
        color       #00d084
        font-size   22px
        line-height 24px
        font-weight normal
        text-align  center
    & > p
        color #fff
        text-align center
        padding 0 10px 0 10px
        display none

        @media screen and (min-width:1600px)
            display block

    & > .button
        opacity 1

.button
    background    #00d084
    color         #FFF
    font-family 'Source Sans Pro', sans-serif
    font-size     14px
    z-index       2
    text-align    center
    text-transform uppercase
    display       inline-block
    border-radius 30px
    opacity       0
    padding       4px 20px
    transition    opacity 0.2s ease-in-out


.button-group
    clearfix()
    clear both 
    text-align center 
    & > .big-button:first-child
        margin-top 40px

.big-button
    background     #000
    display        block
    margin-bottom  20px
    text-align     center
    color          #fff
    font-family    'Source Sans Pro', sans-serif
    font-size      18px
    padding        12px 30px
    border-radius  30px
    transition     color 0.2s ease-in-out
    text-transform uppercase
    
    &:first-child
        margin-left 0

    @media (min-width:480px)
        display inline-block
        margin-left    20px

    &:hover
        background  #00d084



.experience-wrap
    background #008a58
    position   relative
    padding    0 5% 40px
    overflow   hidden


.experience-content
    @media (min-width:800px)
        min-height 1272px

.experience-block
    clear       both
    position    relative
    padding-top 40px
    max-width   1280px
    margin 0 auto

// #job-sgi
//     @media (min-width:800px)
//         top 90px

// #job-nexon
//     @media (min-width:800px)
//         top 125px

// #job-mindlinq
//     @media (min-width:800px)
//         top 172px

.experience-line
    background url(../img/experience-line.png) no-repeat
    width      50px
    height     1271px
    position   absolute
    top        0
    left       35%
    display none

    // @media (min-width:800px)
    //     display block

.job-info
    text-align left
    color       #000
    @media (min-width:800px)
        col(8/12)
        font-size   16px
    
    & > h1
        color          #fff
        font-family    'Source Sans Pro', sans-serif
        font-size      26px
        text-transform uppercase
        font-weight     600
        @media (min-width:800px)        
            margin          0

        & > span
            text-transform capitalize
            font-size      16px   
            margin         0 0 0 10px 
            font-weight    normal
            
    & > h2
        font-family     'Source Sans Pro', sans-serif
        text-transform  uppercase
        font-weight     600
        margin          40px 0 0 0 
        @media (min-width:800px)
            font-size       18px
            line-height     14px
            margin          20px 0 0 0 
        
    & > p
        @media (min-width:800px)
            margin 5px 0 0 0
        @media (max-width:1170px)   
            margin      15px 0 0 0
            font-size   16px
        

.job-img
    text-align center
    padding 40px 0 0    
    @media (min-width:800px)            
        col(4/12)
        text-align center
        padding 0
        margin  60px 0 0 0
        

.view-btn
    background    url(../img/view-btn.png) no-repeat
    width         179px
    height        32px
    text-indent   -9999em
    display       block
    float         right
    text-align    left
    margin-bottom 30px

.job-desc
    color #000

    & > h2
        font-size      16px
        text-transform uppercase
        font-weight    bold
        margin         20px 0 0 0

    & > p
        font-size   13px
        margin      0


.modal-content
    background    #FFF
    border-radius 10px
    padding       20px
    text-align    left
    max-width     780px
    margin        10px auto
    position      relative
    text-transform capitalize

    @media (min-width:800px)
        padding 20px 100px

    & > h2
        color       black
        font-size   26px
        font-weight 600

    & > img
        width 100%
        height auto
        display block
        margin 0 auto 50px

    & > p
        color     #000
        font-size 16px

    & > p > a
        color       #009cff
        font-size   14px

        &:hover
            text-decoration underline
            color       #009cff

        & + a
            margin-left  10px
            padding-left 10px
            border-left  solid 1px #2d2d2d

.footer
    background #0F7B50
    padding 10px 5%
.footer-text
    text-align right
    color black
    & > a
        color white
        
.mfp-close-btn-in .mfp-close
    color     #c7c7c7
    font-size 50px
    margin    10px