doctype
html
	head
		title Suyeun Lee Portfolio
		meta(name="viewport", content="width=device-width")
		link(href='favicon.ico', rel='icon')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
		link(href="css/modal.css", rel="stylesheet")
		link(href="css/styles.css", rel="stylesheet")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-61249446-1', 'auto');
			ga('send', 'pageview');

	body
		.nav-top-wrap
			.container
				h1: a(href="/") Good Morning, Sean!

				ul.social-links
					li
						a(href="https://www.behance.net/suyeunlee" target='_blank'): img(src="img/logo-behance.png")
					li
						a(href="https://www.linkedin.com/pub/suyeun-lee/1b/a0b/b95" target='_blank'): img(src="img/logo-linkedin.png")

				ul.nav-links
					li: a.active(href="#hero") Intro
					li: a(href="#projects") Portfolio
					li: a(href="#experience") Experience

				//- .nav-animation
					img(src="img/hook-animation.gif", alt="animation")

		.mobile-nav
			ul.icon-menu
				li
				li
				li
			i.icon-close
			ul.mobile-links
				li: a(href="#hero") Intro
				li: a(href="#projects") Portfolio
				li: a(href="#experience") Experience
				li: a(href="https://www.behance.net/suyeunlee", target="_blank") Behance
				li: a(href="https://www.linkedin.com/pub/suyeun-lee/1b/a0b/b95", target="_blank") LinkedIn

		.page-content
			#hero
			.hero
				.hero-gradient
					.hero-day.-active
					.hero-noon
					.hero-night

				.container
					//- .counter-box
					//- 	p This site is evolving
					//- 	.count-number <span class="count">40</span>%

					.hero-img
						img.-active(src="img/hero-owl-1.png", alt="Day Owl")
						img(src="img/hero-owl-2.png", alt="Noon Owl")
						img(src="img/hero-owl-3.png", alt="Night Owl")

					h1 Hello
					p My name is Suyeun Lee, UI &amp; Visual designer. This site showcases my work and experiences. Feel free to check out my work and contact me for opportunities via email or social channels.
					a.big-button(href="download/resume2015.pdf", target="_blank") Download Resume
					a.big-button(href="mailto:freshsean@gmail.com") Contact by Email


			#projects
			.container
				ul.projects
					li(data-type="Corporate site, Wireframe, UI design, Contact to client, Self-Management, 2015")
						img(src="img/pkllp/cover.jpg")
						a.info(href="#pkllp", data-filename="pkllp", data-number="17", data-behance="https://www.behance.net/gallery/24443815/PK-LLP-Corporate-site-redesign", data-live="http://pkllp.com/", data-title="PK LLP")
							h2 PK LLP
							p Corporate site
							p Wireframe, UI design, Contact to client, Self-Management, 2015.
							.button View Details

					li(data-type="computer game site, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/cfes/cover.jpg")
						a.info(href="#cfes", data-filename="cfes", data-number="13",  data-behance="https://www.behance.net/gallery/24539801/Game-site-design-CrossFire-Spanish-website", data-live="http://es.crossfire.z8games.com/", data-title="Crossfire Español")
							h2 CrossFire Espa&ntilde;ol
							p Computer game site, FPS game
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2014
							.button View Details

					li(data-type="computer game site, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/lostsaga/cover.jpg")
						a.info(href="#lostsaga", data-filename="lostsaga", data-number="25", data-behance="https://www.behance.net/gallery/17658991/LostSaga-North-America-site-design", data-live="http://lostsaga.z8games.com/", data-title="Lost Saga")
							h2 Lost SAGA North America
							p Computer game site, Casual game
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2014
							.button View Details

					li(data-type="computer game site, UI design, Styleguide, Creative direction, Play button creation, 2013")
						img(src="img/grandchase/cover.jpg")
						a.info(href="#grandchase", data-filename="grandchase", data-number="20", data-behance="https://www.behance.net/gallery/18541509/Grand-Chase-Game-site-redesign-proposal", data-title="Grand Chase")
							h2 Grand Chase North America
							p Computer game site, Casual game
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2013
							.button View Details

					li(data-type="Computer game, playbutton creation, visual assets creation, 2014")
						img(src="img/btn-ah/cover.jpg")
						a.info(href="#btn-ah", data-filename="btn-ah", data-number="1", data-title="Arcane Hearts Button")
							h2  Arcane Hearts
							p Play button creation
							p playbutton creation, visual assets creation, 2014
							.button View Details

					li(data-type="Computer game, playbutton creation, visual assets creation, 2014")
						img(src="img/btn-gc/cover.jpg")
						a.info(href="#btn-gc", data-filename="btn-gc", data-number="1", data-title="Grand Chase Button")
							h2  GrandChase North America
							p Play button creation
							p playbutton creation, visual assets creation, 2014
							.button View Details

					li(data-type="computer game site, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/FSFSAofficial/cover.jpg")
						a.info(href="#FSFSAofficial", data-filename="FSFSAofficial", data-number="12", data-behance="https://www.behance.net/gallery/24578045/Game-Website-FUTEBOL-MANIA", data-title="Futebol Mania Brazil")
							h2 Futebol Mania Brazil &mdash; Official
							p Computer game site, Casual game
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2014
							.button View Details

					li(data-type="computer game site, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/FSFSA-teaser/cover.jpg")
						a.info(href="#FSFSA-teaser", data-filename="FSFSA-teaser", data-number="2", data-behance="https://www.behance.net/gallery/17729587/Futebol-Mania-game-site-teaser", data-live="http://goodmorningsean.com/fsfsa_teaser/br.futebolmania.z8games.com/", data-title="FSFA Teaser")
							h2 Futebol Mania Brazil &mdash; Teaser
							p  Computer game site, Casual game
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2014
							.button View Details

					li(data-type="mobile game site, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/farawaykingdom/cover.jpg")
						a.info(href="#farawaykingdom", data-filename="farawaykingdom", data-number="3", data-behance="https://www.behance.net/gallery/17665761/Mobile-Game-promo-site-_-Faraway-Kingdom", data-live="http://www.playfarawaykingdom.com/", data-title="Faraway Kingdom")
							h2 Faraway Kingdom Mobile game site
							p Mobile game promotion site
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2014
							.button View Details

					li(data-type="computer game site, Artwork, UI design, 2012")
						img(src="img/channel/cover.jpg")
						a.info(href="#channel", data-filename="channel", data-number="4",data-title="Channel Page")
							h2 Channeling page
							p Computer game site
							p Artwork, UI design, 2012.
							.button View Details

					li(data-type="Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010")
						img(src="img/fb_wondercruise/cover.jpg")
						a.info(href="#fb_wondercruise", data-filename="fb_wondercruise", data-number="7", data-title="Wonder Cruise FB Game")
							h2 Facebook Game &mdash; Wonder Cruise
							p UI for Facebook game
							p Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010
							.button View Details

					li(data-type="Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010", data-title="MapleStory FB Game")
						img(src="img/fb-msa/cover.jpg")
						a.info(href="#fb-msa", data-filename="fb-msa", data-number="8")
							h2 Facebook Game &mdash; MapleStory Adventure
							p UI for Facebook game
							p Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010
							.button View Details

					li(data-type="Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010")
						img(src="img/fb-zombie/cover.jpg")
						a.info(href="#fb-zombie", data-filename="fb-zombie", data-number="8", data-title="Zombie Misfits FB Game")
							h2 Facebook Game &mdash; Zombie Misfits
							p UI for Facebook game
							p Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010
							.button View Details

					li(data-type="computer game site, Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2011.")
						img(src="img/ms-legend/cover.jpg")
						a.info(href="#ms-legend", data-filename="ms-legend", data-number="8", data-behance="https://www.behance.net/gallery/8541715/MapleStory-Legends-Teaser-Site", data-title="MapleStory LEGEND Teaser Site")
							h2 MapleStory LEGEND &mdash; Teaser
							P Computer game site
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2011.
							.button View Details

					li(data-type="computer game site, Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2011.", data-title="MapleStory Adventure Teaser")
						img(src="img/msa-browse/cover.jpg")
						a.info(href="#msa-browse", data-filename="msa-browse", data-number="9")
							h2 MapleStory Adventure &mdash; Teaser
							P Computer game site
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2011.
							.button View Details

					li(data-type="computer game site, Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2011.")
						img(src="img/msa-landing/cover.jpg")
						a.info(href="#msa-landing", data-filename="msa-landing", data-number="4", data-title="MapleStory Landing Page")
							h2 MapleStory &mdash; Landing page
							P Landing page
							p Wireframe, UI design, Styleguide, Creative direction, Play button creation, 2011.
							.button View Details

					li(data-type="Illustration, Branding, Brand Identity, Visual assets creation, 2013.")
						img(src="img/RP/cover.jpg")
						a.info(href="#RP", data-filename="RP", data-number="1")
							h2 GameRage - Gamemoney RP creation
							p Branding / Identity
							p Illustration, Branding, Brand Identity, Visual assets creation, game currency creation, 2013.
							.button View Details


					li(data-type="Corporate site, Prototype and Wireframe, Layout design, UI design, 2009")
						img(src="img/foxconnect/cover.jpg")
						a.info(href="#foxconnect", data-filename="foxconnect", data-number="9")
							h2 Fox Connect
							p Internal App UI
							P Prototype and Wireframe, Layout design, UI design, 2009.
							.button View Details

					li(data-type="Corporate site, Prototype and Wireframe, Layout design, UI design, 2009")
						img(src="img/foxmpa/cover.jpg")
						a.info(href="#foxmpa", data-filename="foxmpa", data-number="8")
							h2 Fox Marketing
							P Marketing portal
							p Prototype and Wireframe, Layout design, UI design, 2009.
							.button View Details

					li(data-type="Interaction design, Prototype, Interaction design, Banner design, Flash animation, 2008.")
						img(src="img/familycom/cover.jpg")
						a.info(href="#familycom", data-filename="familycom", data-number="5")
							h2 Disney - Family.com animation widget
							P Interaction design
							p Prototype, Interaction design, Banner design, Flash animation, 2008.
							.button View Details


					li(data-type="Corporate site, Wireframe, UI design, Contact to client, Self-Management, 2008.")
						img(src="img/drxcorp/cover.jpg")
						a.info(href="#drxcorp", data-filename="drxcorp", data-number="13")
							h2 DRX Corp
							p Corporate site
							p Wireframe, UI design, Contact to client, Self-Management, 2008.
							.button View Details


			#experience
			.experience-wrap
				.experience-content
					.experience-line
					.experience-block#job-sgi
						.job-info
							h1 SG Interactive
							//- a.view-btn(href="#") View work in this period
							ul
								li Feb 2012 &mdash; Aug 2014

						.job-desc
							h2 Design
							p Design websites that reinforce the distinctive game brand and consistent visual identity
							p Creation of wireframes &amp; prototypes and iterate on solutions throughout the process
							p Emphasize usability and experience with aesthetic and functionalities
							p Conduct internal UX testing
							p Create style guide and documentation
							p Create visual elements utilizizing game assets

							h2 Teamwork
							p Brainstorm &amp; support teams to develop the best-in-class products
							p Meets and provides expertise to various teams for successful implementation of design standards
							p Communicate with other departments to better understand their needs and concerns.
							p Pitch design to internal clients (mostly producers and marketing team)

							h2 Management
							p Initiate projects and allocate resources to various projects
							p Art direction and creative strategy for various projects and products
							p Team project time management, goal-setting for team members
							p Oversee the entire process from planning and live deployment process
							p Empower team to identify areas for improvement in the build process

					.experience-block#job-nexon
						.job-info
							h1 Nexon America
							//- a.view-btn(href="#") View work in this period
							ul
								li Jan 2011 &mdash; Feb 2012

						.job-desc
							h2 Design
							p Designed and maintained several Facebook, game interfaces and game websites.
							p Created and edited various assets for use incompany games and websites.
							p Developed templates and style guides for web articles and newsletters
							p Collaborated with other teams in order to achieve sales and marketing objectives

							h2 Teamwork
							p Brainstorm &amp; supported teams to develop the best-in-class products
							p Met and provided expertise to teams for successful implementation of design standards
							p Mentored junior-level designers, supervised their output and facilitated their growth

					.experience-block#job-mindlinq
						.job-info
							h1 Mindlinq
							//- a.view-btn(href="#") View work in this period
							ul
								li Jan 2011 &mdash; Feb 2012

						.job-desc
							h2 Design
							p Designed and developed corporate websites (including portal and e-commerce projects)
							p Style guides, Brand Identity
							p Ensuring a positive customer experience

							h2 Teamwork
							p Responsible for all stages of website creation, from initial architecture and design to deployment
							p Conducted initial client meetings to identify objectives and goals
							p Trained and educated staff and clients for technical support

				.button-group
					a.big-button(href='download/resume2015.pdf' target='_blank') Download resume
					a.big-button(href='mailto:freshsean@gmail.com') Email me
		.footer
			.footer-text Thanks to <a href="http://cyborgspider.com" target="_blank">Carlos Ortega</a> for the coding!</a>

		script(src="//code.jquery.com/jquery-2.0.3.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js")
		script(src="js/scripts.js")

