doctype
html
	head
		title Suyeun Lee Portfolio
		link(href='https://www.google.com/fonts#ChoosePlace:select', rel='stylesheet')
		link(href="css/modal.css", rel="stylesheet")
		link(href="css/styles.css", rel="stylesheet")

	body
		.nav-top-wrap
			.container
				h1: a(href="/") Good Morning, Sean!

				ul.social-links
					li
						a(href="#"): img(src="img/logo-behance.png")
					li
						a(href="#"): img(src="img/logo-linkedin.png")

				ul.nav-links
					li: a.active(href="#hero") Intro
					li: a(href="#projects") Portfolio
					li: a(href="#experience") Experience

		.page-content
			#hero
			.hero
				.container
					.counter-box
						p This site is evolving
						.count-number <span class="count">40</span>%

					.left-col
						h1 Hello, my name is Suyeun Lee.
						p I love being a web designer. Ever since I started my career, I am greatly inspired when users interact with my work. There are countless visual approaches and strategies to take when approaching a problem, whether its selling a product, providing entertainment, or filtering through tons of information. What seems complicated can be streamlined with a user-centered approach. I love that designers connect with people using sight, emotion and logic in order to communicate a message. Moving forward, I wish to expand my knowledge about UX, content strategy and SEO to help individuals and businesses thrive. There's always much more to learn and discover!
					.right-col
						img(src="img/ani.gif", alt="Animated Gif")

			#projects
			.container
				ul.projects
					li(data-type="computer game, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/cfes/cover.jpg")
						a.info(href="#cfes", data-filename="cfes", data-number="13")
							h2 CrossFire Español
							p Computer game site
							p UI design, Styleguide, Creative direction, Play button creation
							.button View Details

					li(data-type="computer game, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/lostsaga/cover.jpg")
						a.info(href="#lostsaga", data-filename="lostsaga", data-number="21")
							h2 Lost SAGA North America
							p Computer game site
							p UI design, Styleguide, Creative direction, Play button creation
							.button View Details

					li(data-type="computer game, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/grandchase/cover.jpg")
						a.info(href="#grandchase", data-filename="grandchase", data-number="20")
							h2 Grand Chase North America
							p Computer game site
							p UI design, Styleguide, Creative direction, Play button creation
							.button View Details

					li(data-type="computer game, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/FSFSAofficial/cover.jpg")
						a.info(href="#FSFSAofficial", data-filename="FSFSAofficial", data-number="12")
							h2 Futebol Mania Brazil &mdash; Official
							p Computer game site
							p UI design, Styleguide, Creative direction
							.button View Details

					li(data-type="computer game, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/FSFSA-teaser/cover.jpg")
						a.info(href="#FSFSA-teaser", data-filename="FSFSA-teaser", data-number="2")
							h2 Futebol Mania Brazil &mdash; Teaser
							p  Computer game site
							p UI design, Styleguide, Creative direction
							.button View Details

					li(data-type="computer game, UI design, Styleguide, Creative direction, Play button creation, 2014")
						img(src="img/farawaykingdom/cover.jpg")
						a.info(href="#farawaykingdom", data-filename="farawaykingdom", data-number="3")
							h2 Faraway Kingdom Mobile game site
							p Mobile game promotion site
							p computer game, UI design, Styleguide, Creative direction, Play button creation, 2014
							.button View Details

					li(data-type="Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010")
						img(src="img/fb_wondercruise/cover.jpg")
						a.info(href="#fb_wondercruise", data-filename="fb_wondercruise", data-number="7")
							h2 Facebook Game &mdash; Wonder Cruise
							p UI for Facebook game
							p Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010
							.button View Details

					li(data-type="Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010")
						img(src="img/fb-msa/cover.jpg")
						a.info(href="#fb-msa", data-filename="fb-msa", data-number="8")
							h2 Facebook Game &mdash; MapleStory Adventure
							p UI for Facebook game
							p Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010
							.button View Details

					li(data-type="Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010")
						img(src="img/fb-zombie/cover.jpg")
						a.info(href="#fb-zombie", data-filename="fb-zombie", data-number="8")
							h2 Facebook Game &mdash; Zombie Misfits
							p UI for Facebook game
							p Facebook Game, UI design, Styleguide, Facebook fanpage, Facebook game interface, 2010
							.button View Details

					li(data-type="corporate site, company information, single page design, 2014")
						img(src="img/fbar/cover.jpg")
						a.info(href="#fbar", data-filename="fbar", data-number="2")
							h2 FBAR I FATCA
							p Corporate site, Company information, Single page design, 2014
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/jclawcpa/cover.jpg")
						a.info(href="#jclawcpa", data-filename="jclawcpa", data-number="4")
							h2 JC Company
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/jjmural/cover.jpg")
						a.info(href="#jjmural", data-filename="jjmural", data-number="8")
							h2 JJ Mural
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/pkllp/cover.jpg")
						a.info(href="#pkllp", data-filename="pkllp", data-number="17")
							h2 PK LLP
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/ms-legend/cover.jpg")
						a.info(href="#ms-legend", data-filename="ms-legend", data-number="8")
							h2 MapleStory LEGEND &mdash; Teaser
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/msa-browse/cover.jpg")
						a.info(href="#msa-browse", data-filename="msa-browse", data-number="9")
							h2 MapleStory Adventure &mdash; Teaser
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/msa-landing/cover.jpg")
						a.info(href="#msa-landing", data-filename="msa-landing", data-number="4")
							h2 MapleStory &mdash; Landing page
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/RP/cover.jpg")
						a.info(href="#RP", data-filename="RP", data-number="1")
							h2 GameRage - Gamemoney RP creation
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/sjc/cover.jpg")
						a.info(href="#sjc", data-filename="sjc", data-number="6")
							h2 SJC Law Group
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/foxconnect/cover.jpg")
						a.info(href="#foxconnect", data-filename="foxconnect", data-number="9")
							h2 Fox Connect
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/foxmpa/cover.jpg")
						a.info(href="#foxmpa", data-filename="foxmpa", data-number="8")
							h2 Fox Marketing
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/channel/cover.jpg")
						a.info(href="#channel", data-filename="channel", data-number="4")
							h2 Channeling page
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/buymescrubs/cover.jpg")
						a.info(href="#buymescrubs", data-filename="buymescrubs", data-number="4")
							h2 Buymescrubs
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/drxcorp/cover.jpg")
						a.info(href="#drxcorp", data-filename="drxcorp", data-number="13")
							h2 DRX Corp
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/drxdrugcompare/cover.jpg")
						a.info(href="#drxdrugcompare", data-filename="drxdrugcompare", data-number="5")
							h2 DRX Corp - Drug comparison
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/familycom/cover.jpg")
						a.info(href="#familycom", data-filename="familycom", data-number="5")
							h2 Disney - Family.com animation widget
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/lagunabeach/cover.jpg")
						a.info(href="#lagunabeach", data-filename="lagunabeach", data-number="6")
							h2 Laguna Beach Jean
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/gameUI-checkin/cover.jpg")
						a.info(href="#gameUI-checkin", data-filename="gameUI-checkin", data-number="8")
							h2 Laguna Beach Jean
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/gameUI-santaboo/cover.jpg")
						a.info(href="#gameUI-santaboo", data-filename="gameUI-santaboo", data-number="4")
							h2 Laguna Beach Jean
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/gameUI-spika/cover.jpg")
						a.info(href="#gameUI-spika", data-filename="gameUI-spika", data-number="3")
							h2 Laguna Beach Jean
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details

					li(data-type="computer game, UI Design, ")
						img(src="img/gameUI-thecuriouscase/cover.jpg")
						a.info(href="#gameUI-thecuriouscase", data-filename="gameUI-thecuriouscase", data-number="4")
							h2 Laguna Beach Jean
							p Company information, service areas, portfolios (web design, UI, print), career and contact information.
							.button View Details


			#experience
			.experience-wrap
				.experience-line
				.experience-block#job-sgi
					.job-info
						h1 SG Interactive
						a.view-btn(href="#") View work in this period
						ul
							li Manager of Creative<br />Feb 2014 - Aug 2014
							li Sr. Web Designer<br />Apr 2013 - Jan 2014
							li Web Designer<br />Feb 2012 – Mar 2013

					.job-desc
						h2 Design
						p Design websites that reinforce the distinctive game brand and consistent visual identity
						p Creation of wireframes &amp; prototypes and iterate on solutions throughout the process
						p Emphasize usability and experience with aesthetic and functionalities
						p Conduct internal UX testing
						p Create style guide and documentation
						p Create visual elements utilizizing game assets

						h2 Teamwork
						p Brainstorm &amp; support teams to develop the best-in-class products
						p Meets and provides expertise to various teams for successful implementation of design standards
						p Communicate with other departments to better understand their needs and concerns.
						p Pitch design to internal clients (mostly producers and marketing team)

						h2 Management
						p Initiate projects and allocate resources to various projects
						p Art direction and creative strategy for various projects and products
						p Team project time management, goal-setting for team members
						p Oversee the entire process from planning and live deployment process
						p Empower team to identify areas for improvement in the build process

				.experience-block#job-nexon
					.job-info
						h1 Nexon America
						a.view-btn(href="#") View work in this period
						ul
							li Web Designer<br />Jan 2011 – Feb 2012

					.job-desc
						h2 Design
						p Designed and maintained several Facebook, game interfaces and game websites.
						p Created and edited various assets for use incompany games and websites.
						p Developed templates and style guides for web articles and newsletters
						p Collaborated with other teams in order to achieve sales and marketing objectives

						h2 Teamwork
						p Brainstorm &amp; supported teams to develop the best-in-class products
						p Met and provided expertise to teams for successful implementation of design standards
						p Mentored junior-level designers, supervised their output and facilitated their growth

				.experience-block#job-mindlinq
					.job-info
						h1 Mindlinq
						a.view-btn(href="#") View work in this period
						ul
							li Web Designer<br />Jan 2011 – Feb 2012

					.job-desc
						h2 Design
						p Designed and developed corporate websites (including portal and e-commerce projects)
						p Style guides, Brand Identity
						p Ensuring a positive customer experience

						h2 Teamwork
						p Responsible for all stages of website creation, from initial architecture and design to deployment
						p Conducted initial client meetings to identify objectives and goals
						p Trained and educated staff and clients for technical support

				//- .button-group
				//- 	a.big-button(href='#') Download resume
				//- 	a.big-button(href='#') Email me

		script(src="//code.jquery.com/jquery-2.0.3.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js")
		script(src="js/scripts.js")
